@import 'shared/variables';

.hero-text {
  color: $header-color;
  font-size: 1.7em;
  font-weight: bold;
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.header,
.footer {
  font-size: 0.9em;
}

.punchline {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3em;
  line-height: 1;
}
