@import 'shared/variables';
@import 'utils/reset';

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/GloriaHallelujah-Regular.ttf) format('truetype');
}

html {
  font-size: 20px;
}

@media (min-width: 481px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 13px;
  color: $text-color;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $border-color;
}

ul li {
  padding: 4px;
}
