@import 'utils/reset';

:root {
  --header-color: #0066ff;
  --text-color: #222;
  --border-color: #dedede;
}

html {
  font-size: 20px;
}

@media (min-width: 481px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 13px;
  color: var(--text-color);
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
}

ul li {
  padding: 4px;
}
